html {
 font-size: 3.7em; 
 font-family: "minion-pro", serif;
 font-weight: 400;
 font-style: normal;
 background-color: rgb(207, 205, 205);
}

h1 {
  font-size: 1.5em;
  text-align: center;
margin: 0;
  text-shadow: .02em .02em .02em black;
color:rgb(17, 148, 148);
}

p, li {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
}

body {
	width: auto;
	margin: 1em ;
	background-color: #ffffff;
	padding: .2em;

  
}



img {
display: block;
margin: 0 auto;
}


h2 {
  padding: 5px;
  font-size: large;
}




.nav:hover,
.nav:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}






button {
  padding: 0 ;
  margin: .3em 0em ;
  font-size: .7em;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  width: 18em;
  height: 2em;
  font-size: .5em ;
position: relative;
}

div.progress {
  position: absolute;
border-radius: 1em;
  width: 0%;
  height: 100%;
  left:0;
  top:0;
  background: rgb(181, 238, 238);
  
}

span.progress {
  position: relative;
}

