html {
  background-color: rgb(207, 205, 205);
  font-family: 'Minion-Pro', sans-serif;
  font-size: 1em;
}

.intro {
  color:aquamarine
}

p {
  color:rgb(0, 0, 0)
}


body {
	width: auto;
	margin: 3em 10em ;
	background-color: #ffffff;
	padding: .75em;
	border: 10px solid rgb(226, 224, 224);
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  font-family:  'minion-pro-caption', sans-serif;
  color: #4d9471;
  text-shadow: .02em .02em .02em black;
  margin: 0;
}


div.explanation {
  display:none ;
}


#col {
  column-count: 2;
vertical-align: 10px;
}

.nav {
  padding: 1em;
  margin: .3em;
  font-size: 1.3em;
  border-radius: .1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #4d9471;
  text-shadow: .02em .02em .02em black;
  width: 4.77em;
  height: 4em;
}

button.clear {
float: right;

}
.nav:hover,
.nav:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  
}

.clear {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  width: 10em;
  
}


.clear:hover,
.clear:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);

}